<!DOCTYPE html>
<html>
  <head>
    <title>FirstBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">

      <nav class="navbar navbar-expand-lg navbar-light bg-white">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="<%= posts_path %>"><%= t('.title') %> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><%= t('.title1') %></a>
            </li>

          </ul>
          <%= link_to t('.new_post'), new_post_path, class: 'btn btn-outline-primary mr-md-5' %>

            <li class="nav-item<%= " active" if I18n.locale == :uk  %> mr-md-4">
              <%= link_to "Укр", { locale: :uk }, class: "nav-link" %>
            </li>
            <li class="nav-item<%= " active" if I18n.locale == :en  %>">
              <%= link_to "En", { locale: :en }, class: "nav-link" %>
            </li>

        </div>
      </nav>

    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <% flash.each do |name, message| %>
            <div class="alert alert-<%= name %>">
              <%= message %>
            </div>
          <% end %>
        </div>

      </div>
      <%= yield %>

    </div>
<!--
    |
    <%= link_to 'Home', posts_path %>
    |
    <%= link_to 'New Post', new_post_path %>

    <%= yield %>|-->
  </body>
</html>
